In [1]:
tup1 = (12,3,345.56,"abc",True)
print(type(tup1))

<class 'tuple'>

In [2]:
print(tup1[2])
print(tup1[-1])

345.56
True

In [7]:
list1 = list(tup1)
list1[2] = 100 
tup1 = tuple(list1)
tup1

(12, 3, 100, 'abc', True)

In [4]:
print(tup1.count(12))
print(tup1.index(12))

1
0

In [5]:
tup2 = (12,232,4,354)
a,b,c,d = tup2
print(d)

354

In [6]:
x = 10,20,30
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [8]:
y = (10,)
print(type(y))

<class 'tuple'>

In [9]:
for ele in x:
    print(ele,end=" ")

10 20 30

In [10]:
set1 = {1,2,334,45,5,6,2,1}
print(set1)

{1, 2, 5, 6, 45, 334}

In [11]:
for ele in set1:
    print(ele)

1
2
5
6
45
334

In [12]:
print(set1)
print(len(set1))
print(min(set1))
print(max(set1))

{1, 2, 5, 6, 45, 334}
6
1
334

In [13]:
list1 = [1,2,3,4,5,1,2,3]
list1 = set(list1)
list1

{1, 2, 3, 4, 5}

In [14]:
set2 = set()
print(type(set2))

<class 'set'>

In [15]:
set2.add(12)
set2.add(23)
set2.add(100)
set2

{12, 23, 100}

In [16]:
set2.pop()

100

In [17]:
set2.remove(12)
set2

{23}

In [18]:
set2.discard(12)

In [19]:
set2.clear()
set2

set()

In [21]:
A = {1,2,3,4,5}
B = {3,4,5,6,7}
print(A.union(B))
print(A.difference(B))
print(B.difference(A))
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [22]:
C = {1,2,3,4,5,6,7,8,9,10}
print(A.issubset(C))
print(A.issubset(B))
print(C.issuperset(A))
print(C.issuperset(B))

True
False
True
True

In [23]:
X = {1,2}
Y = {23,24,45}
print(A.isdisjoint(B))
print(X.isdisjoint(Y))

False
True

In [26]:
print(A.symmetric_difference(B))
print(A)
print(B)

{1, 2, 6, 7}
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [43]:
A.union(B) ==> {1,2,3,4,5,6,7}
A ==> {1,2,3,4,5}
B ==> {3,4,5,6,7}
=======================
A ==> {1,2,3,4,5,6,7}
B ==> {3,4,5,6,7}

SyntaxError: invalid syntax (<ipython-input-43-70f5e63ead1d>, line 1)

In [44]:
A.update(B)
print(A)
print(B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [45]:
A.intersection_update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [46]:
A.difference_update(B)
print(A)
print(B)

set()
{3, 4, 5, 6, 7}

In [48]:
A.symmetric_difference_update(B)
print(A)
print(B)

{5, 4, 3, 6, 7}
{3, 4, 5, 6, 7}

In [50]:
A = {1,2,3}
B = {2,3,4}
print(A.difference(B))
print(B.difference(A))
print(A.symmetric_difference(B))
print(A)
print(B)
A.symmetric_difference_update(B)
print(A)
print(B)

{1}
{4}
{1, 4}
{1, 2, 3}
{2, 3, 4}
{1, 4}
{2, 3, 4}

In [1]:
dict1 = {"name":"rachana","stu id":221710310041,"address":"hyd"}
print(dict1)

{'name': 'rachana', 'stu id': 221710310041, 'address': 'hyd'}

In [53]:
print(dict1["stu id"])

221710310008

In [3]:
del dict1["address"]
print(dict1)

{'name': 'rachana', 'stu id': 221710310041, 'course': 'python'}

In [2]:
dict1["course"] = "python"
print(dict1)

{'name': 'rachana', 'stu id': 221710310041, 'address': 'hyd', 'course': 'python'}

In [57]:
print(dict1.keys)
print(dict1.values)
print(dict1.items)

<built-in method keys of dict object at 0x0000021D37826228>
<built-in method values of dict object at 0x0000021D37826228>
<built-in method items of dict object at 0x0000021D37826228>

In [4]:
print(dict1["name"])
print(dict1.get("name"))

rachana
rachana

In [5]:
dict1["address"] = "wgl"
dict1

{'name': 'rachana',
 'stu id': 221710310041,
 'course': 'python',
 'address': 'wgl'}

In [6]:
d = {1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'name': 'rachana', 'stu id': 221710310041, 'course': 'python', 'address': 'wgl', 1: 1, 2: 2, 3: 3}

In [7]:
dict1.pop("name")
dict1

{'stu id': 221710310041,
 'course': 'python',
 'address': 'wgl',
 1: 1,
 2: 2,
 3: 3}

In [64]:
dict1.popitem()

(3, 3)

In [65]:
dict1

{'stu id': 221710310008, 'course': 'python', 'address': 'wgl', 1: 1, 2: 2}